
@font-face {
font-display: swap;
font-family: 'SVN-Poppins';
font-style: normal;
font-weight: 500;
font-stretch: normal;
unicode-range: U+20-2F, U+30-39, U+3A-40, U+41-5A, U+5B-60, U+61-7A, U+7B-7E, U+C0-C3, U+C8-CA, U+CC-CD, U+D0, U+D2-D5, U+D9-DA, U+DD, U+E0-E3, U+E8-EA, U+EC-ED, U+F2-F5, U+F9-FA, U+FD, U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1B0, U+1EA0-1EF9, U+2C6-323;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2F08fdc99e6d56e52ce59e4350b70fbaa0e64f0fa2.woff2?generation=1782313423058411&alt=media') format('woff2');
}

@font-face {
font-display: swap;
font-family: 'SVN-Poppins';
font-style: normal;
font-weight: 600;
font-stretch: normal;
unicode-range: U+20-2F, U+30-39, U+3A-40, U+41-5A, U+5B-60, U+61-7A, U+7B-7E, U+C0-C3, U+C8-CA, U+CC-CD, U+D0, U+D2-D5, U+D9-DA, U+DD, U+E0-E3, U+E8-EA, U+EC-ED, U+F2-F5, U+F9-FA, U+FD, U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1B0, U+1EA0-1EF9, U+2C6-323;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2F9917e63e694e2dd2c4dbac98cd610e0880cc51de.woff2?generation=1782313423085944&alt=media') format('woff2');
}

@font-face {
font-display: swap;
font-family: 'SVN-Poppins';
font-style: normal;
font-weight: 400;
font-stretch: normal;
unicode-range: U+20-2F, U+30-39, U+3A-40, U+41-5A, U+5B-60, U+61-7A, U+7B-7E, U+C0-C3, U+C8-CA, U+CC-CD, U+D0, U+D2-D5, U+D9-DA, U+DD, U+E0-E3, U+E8-EA, U+EC-ED, U+F2-F5, U+F9-FA, U+FD, U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1B0, U+1EA0-1EF9, U+2C6-323;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-storytodesign.appspot.com/o/h2d-ext-asset%2Fcc6ee6d711a8b681bd6c0b33b031e45c8138c4f4.woff2?generation=1782313423063803&alt=media') format('woff2');
}
